<h1>Hoe maak je nou een rekening?</h1>
<p>Heel simpel vul hier je gegevens in</p>

<%= form_for @bill do |f| %>
  <%= f.text_field :name, placeholder: 'naam' %>
  <%= f.text_field :period, placeholder: 'periode' %>
  <%= f.text_field :groupname, placeholder: 'groepsnaam' %>
  <%= f.submit %>
<% end %>