<p id='guide'>Kijk <%= @bill.name %> dat is al een begin, vul nu de rest van de informatie in.</p>

<p id='name'><%= @bill.name %></p>
<p id='period'><%= @bill.period %></p>
<p id='groupname'><%= @bill.groupname %></p>

<% if !(@bill.groupname && @bill.period) %>
  <%= form_for(@bill, remote: true) do |f| %>
    <p><%= f.text_field :period, placeholder: 'Periode' %></p>
    <p><%= f.text_field :groupname, placeholder: 'Groepsnaam' %></p>
    <p><%= f.submit 'Rekening updaten', data: { disable_with: 'Rekening updaten...' } %></p>
  <% end %>
<% end %>

<p>Competenties:</p>
<div class='competences'>
  <% @bill.competences.each do |competence| %>
    <div class='competence'>
      <h2 class='competence_info'><%= competence.title %> <%= competence.points %> <%= competence.level %></h2>
      <p>Leerdoelen:</p>
      <div class='learning_goals'>
        <% competence.learning_goals.each do |learning_goal| %>
          <div class='learning_goal'>
            <p>
              <%= learning_goal.goal %>
            </p>
            <p>
              <%= learning_goal.learned %>
            </p>
          </div>
        <% end %>
      </div>
      <p><%= render "learning_goals/form", competence: competence %></p>
    </div>
  <% end %>
  <%= render "competences/form", bill: @bill %>
</div>


