<p id='guide'>Kijk <%= @bill.name %> dat is al een begin, vul nu de rest van de informatie in.</p>

<p id='name'><%= @bill.name %></p>
<p id='period'><%= @bill.period %></p>
<p id='groupname'><%= @bill.groupname %></p>

<% if !(@bill.groupname && @bill.period) %>
  <%= form_for(@bill, remote: true) do |f| %>
    <p><%= f.text_field :period, placeholder: 'Periode' %></p>
    <p><%= f.text_field :groupname, placeholder: 'Groepsnaam' %></p>
    <p><%= f.submit 'Rekening updaten', data: { disable_with: 'Rekening updaten...' } %></p>
  <% end %>
<% end %>

<p>Competenties:</p>
<div class='competences'>
  <% @bill.competences.each do |competence| %>
    <p>
      <%= competence.title %>
      <%= competence.points %>
      <%= competence.level %>
    </p>
  <% end %>
</div>

<%= render "competences/form", bill: @bill %>
