<h1>Tadaa</h1>
<p>Kijk dat is al een begin, vul nu de rest van de informatie in.</p>

<p id='name'><%= @bill.name %></p>
<p><%= @bill.period %></p>
<p><%= @bill.groupname %></p>

<% if !(@bill.groupname && @bill.period) %>
  <%= form_for(@bill, remote: true) do |f| %>
    <p><%= f.text_field :period %></p>
    <p><%= f.text_field :groupname %></p>
    <p><%= f.submit %></p>
  <% end %>
<% end %>