<div class='competence'>
  <h2 class='competence_info'>
    <%= competence.title %> <%= competence.points %> <%= competence.level %>
    <%= link_to 'X', competence, method: :delete,
    data: { confirm: 'Weet je zeker dat je deze competentie wilt verwijderen?'},
    remote: true, class: 'destroy_competence' %>
  </h2>
  <p>Leerdoelen:</p>
  <div class='learning_goals'>
    <% competence.learning_goals.each do |learning_goal| %>
      <%= render 'learning_goals/learning_goal', learning_goal: learning_goal %>
    <% end %>
  </div>
  <p><%= render 'learning_goals/form', competence: competence %></p>
</div>
